@media (max-width: 940px) {
  /*923 + 17*/
  .header__about {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__about-img {
    margin-right: 0px;
  }

  .header__about-description {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 0;
  }
  .header__about-description h2 {
    font-size: 24px;
    text-align: center;
  }

  .header__about-description p {
    line-height: 40px;
  }
}

@media (max-width: 707px) {
  .header__navbar-links {
    display: none;
  }
  .header__navbar {
    box-shadow: none;
  }

  .header__navbar div {
    position: relative;
  }
  .hum-menu {
    margin-top: 30px;
    display: block;
    width: 50px;
    position: relative;
    padding: 0;
    z-index: 20;
    height: 40px;
  }

  .hum-menu span {
    display: block;
    height: 4px;
    background-color: #000;
    position: relative;
  }

  .hum-menu span::before,
  .hum-menu span::after {
    content: "";
    width: 50px;
    height: 4px;
    background-color: #000;
    position: absolute;
    left: 0;
  }

  .hum-menu span::before {
    top: -20px;
  }

  .hum-menu span::after {
    top: 20px;
  }

  .header__links {
    flex-direction: column;
  }
  .header__links-link {
    width: 100%;
    padding: 2rem 2rem;
  }
}

@media (max-width: 435px) {
  /* 15px */

  .header__about {
    margin-top: 70px;
  }
  .header__about-img img {
    width: 290px;
    padding: 0;
    box-shadow: none;
  }

  .hum-menu {
    height: 0;
  }

  .header__about-description {
    display: flex;
    flex-direction: row;
    width: 300px;
  }

  .header__about-description p {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 10px;
  }

  .header__links {
    margin-top: 50px;
    padding: 0px;
    width: 100%;
    flex-direction: row;
  }

  .header__links-link {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
  }
}

@media (max-width: 330px) {
  .header {
    background-color: red;
  }

  .header__about-img img {
    width: 100%;
  }
  .header__about-description {
    width: 200px;
  }
  .header__about-description p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 10px;
  }
}

@media (max-width: 245px) {
  .header {
    background-color: blue;
  }

  .header__about-img img {
    width: 100%;
  }
  .header__about-description {
    width: 150px;
  }
  .header__about-description p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }
}
