.works .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.works .project__title {
  font-size: 32px;
  font-weight: 300;
  margin-right: 5px;
  padding: 10px;
}

.works .project__count {
  background-color: #cacccf;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  padding: 6px;
}

.works__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
  width: 320px;
  height: 490px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
}

.works__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px;
  width: 100%;
  height: 100%;
}

.works__image {
  background-image: url("https://images.unsplash.com/photo-1633113089631-6456cccaadad?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 200px;
  cursor: pointer;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.works__image:hover {
  background-size: 105%;
  background-position: bottom;
}

.works__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 15px;
}

.works__date {
  font-size: 13px;
  font-weight: 300;
  opacity: 0.9;
}

.works__date i {
  color: #000;
  opacity: 0.9;
}

.works__desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  opacity: 0.8;
}

.works__inner-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.works__item {
  background-color: #e5e7eb;
  border-radius: 3px;
  font-size: 14px;
  list-style-type: none;
  margin-right: 6px;
  padding: 0.3rem;
}

.works__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__link {
  margin-right: 2rem;
  color: #000;
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.works__link i {
  font-size: 14px;
  margin-right: 3px;
}

.works__link:hover {
  background-color: #000;
  opacity: 0.7;
  color: #fff;
}

.works__link:active {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

@media (max-width: 768px) {
  .main-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 156px;
  }
}

@media (max-width: 470px) {
  .main-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content img {
    width: 156px;
    height: 156px;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Philosopher", sans-serif;
  font-family: "Roboto", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  max-width: 1260px;
  min-height: 100vh;
  margin: 0 auto;
  overflow-y: hidden;
  -webkit-box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
}

.header .nav {
  padding: 1.5rem 0;
  margin-bottom: 2rem;
}

.header .nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__item {
  margin-right: 2rem;
}

.header .nav__link {
  font-size: 14px;
  font-weight: 300;
  color: #000;
  text-decoration: none;
}

.header .nav__link-active {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.header .nav__link-logo {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  margin-right: 2.5rem;
  color: #000;
  text-decoration: none;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3rem;
}

.main-content .avatar {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  margin-right: 1rem;
}

.main-content .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 400px;
  height: 256px;
}

.main-content .bio__name {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}

.main-content .bio__profession {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.9;
}

.main-content .bio__location {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.9;
}

.main-content .bio__inner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .bio__item {
  background-color: #e5e7eb;
  border-radius: 3px;
  font-size: 12px;
  list-style-type: none;
  margin-right: 6px;
  padding: 0.3rem;
}

.main-content .bio__inner-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .bio__link {
  font-size: 24px;
  margin-right: 1rem;
  list-style-type: none;
}

.main-content .bio__social {
  color: #000;
}

.description {
  width: 100%;
}

.description__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
}

.footer__link {
  color: #000;
  text-decoration: none;
  font-weight: 100;
}
/*# sourceMappingURL=app.css.map */