@media (max-width: 940px) {
  /*923 + 17*/
  .header__about {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__wall {
    display: none;
  }

  .header__about-img {
    margin-right: 0px;
  }

  .header__about-description {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 0;
  }
  .header__about-description h2 {
    font-size: 24px;
    text-align: center;
  }

  .header__about-description p {
    line-height: 40px;
  }
}
@media (max-width: 768px) {
  .humburger {
    width: 80px;
    height: 80px;
    border: 6px solid #000;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 1s;
  }

  .humburger:hover {
    cursor: pointer;
  }

  .line {
    height: 10px;
    width: 50px;
    background-color: #000;
    border: 5px solid #000;
    border-radius: 50px;
  }

  .header__navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0;
    position: fixed;
    box-shadow: none;
    width: 100%;
    height: 50vh;
    background-color: #aaa;
    z-index: 1000;
    padding: 1rem;
    transition: all 0.5s ease-in-out;
    transform: translate(-200%, -200%);
  }
  .header__navbar.slide {
    transition: all 0.5s ease-in-out;
    transform: translate(0%, 0%);
  }

  .header__links {
    margin-top: 50px;
    padding: 0px;
    width: 100%;
    flex-direction: row;
  }

  .header__links-link {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
  }
}

@media (max-width: 435px) {
  .header__about {
    margin-top: 20px;
  }
  .header__about-img img {
    width: 290px;
    padding: 0;
    box-shadow: none;
  }

  .header__navbar-links {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    margin-bottom: 0;
  }

  .header__about-description {
    display: flex;
    flex-direction: row;
    width: 300px;
  }

  .header__about-description p {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 10px;
  }
}

@media (max-width: 330px) {
  .header__about-img img {
    width: 100%;
  }
  .header__about-description {
    width: 200px;
  }
  .header__about-description p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 10px;
  }
}

@media (max-width: 245px) {
  .header__about-img img {
    width: 100%;
  }
  .header__about-description {
    width: 150px;
  }
  .header__about-description p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }
}
