*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
.header {
  height: 100vh;
  width: 100%;
  /* overflow: hidden; */
}

/* .header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

.header__navbar {
  display: flex;
  padding: 2rem;
  justify-content: flex-end;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.hum-menu {
  display: none;
}

.header__navbar li {
  list-style: none;
}

.header__navbar-links {
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  font-size: 18px;
  color: #000;
  font-weight: 300;
  text-decoration: none;
  margin-right: 20px;
  transition: all 0.5s;
}

.header__navbar-links:hover {
  color: rgb(73, 73, 73);
  border-bottom: 1px solid #e1701a;
  /* transition: all 1s; */
}

/* Main content about */

.header__about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.header__about-img img {
  width: 350px;
  padding: 1rem;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.header__wall {
  width: 1px;
  height: 350px;
  background-color: #e1701a;
}

.header__about-description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 395px;
  padding: 1rem;
  margin-right: 50px;
  font-family: "Montserrat", sans-serif;
}

.header__about-description h2 {
  font-size: 24px;
}
.header__about-description p {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  margin-top: 10px;
}

/* Копнки-Ссылки Снизу  */

.header__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.header__links-link {
  font-family: "Montserrat", sans-serif;
  width: 180px;
  padding: 1rem;
  margin: 1rem;
  font-size: 24px;
  border: 1px solid rgb(230, 230, 230);
  color: #000;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

.process {
  position: relative;
  color: rgba(0, 0, 0, 0.226);
  cursor: auto;
}
.process::after {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  content: "in process";
  font-size: 12px;
  position: absolute;
  width: 100%;
  height: 20px;
  top: 0px;
  left: 0;
  opacity: 0.7;
}

.header__links-link:hover {
  color: #000;
  border-bottom: 1px solid #e1701a;
  background-color: #e1701a46;
}
