.card {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 9px;
  background-color: #fff;
  box-shadow: 0 0 8px 5px rgba($color: #000000, $alpha: 0.1);
  // transition: all 0.5s ease-in;
  // cursor: pointer;

  // &:hover {
  //   transform: scale(101%);
  // }

  &__inner {
    display: flex;
    padding: 1rem;
    margin: 1rem;
  }

  &__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    border-right: 1px solid #000;

    img {
      width: 300px;
      margin-bottom: 1rem;
    }

    h2 {
      text-align: center;
      font-family: "Roboto";
      font-size: 20px;
      font-weight: bold;
      line-height: 22px;
      text-transform: uppercase;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-right: 1px solid #000;
    p {
      font-size: 18px;
      line-height: 20px;
      font-weight: normal;
    }

    .date-tools {
      width: 100%;
      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      // align-items: flex-end;
      ul {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin-bottom: 9px;

        li {
          font-size: 12px;
          font-weight: 500;
          background-color: rgb(230, 230, 230);
          padding: 6px 8px;
          border-radius: 5px;
          margin: 0 5px 5px 0;
        }
      }
      h6 {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: dimgray;
      }
    }
  }

  &__source {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 0 1rem;

    a {
      font-size: 18px;
      color: #000;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 3px 2px 1px rgba($color: #000000, $alpha: 0.1);
      border: none;
      background-color: white !important;
      padding: 10px 12px;
      border-radius: 4px;
      transition: all 0.5s ease-in-out;

      &:hover {
        box-shadow: 0px 0px 0px 1px rgba($color: #000000, $alpha: 0.1);
        transform: scale(105%);
      }
    }
  }
}

@media (max-width: 1150px) {
  .card {
    width: 90%;
    margin: 0 auto;
    padding: 0.4rem;
    margin-bottom: 2rem;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 0 8px 5px rgba($color: #000000, $alpha: 0.1);
    transition: all 0.5s ease-in;
    // cursor: pointer;

    // &:hover {
    //   transform: scale(101%);
    // }

    &__inner {
      display: flex;
      padding: 0.5rem;
      margin: 0.5rem;
    }

    &__about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 1rem;
      border-right: 1px solid #000;

      img {
        width: 300px;
        margin-bottom: 1rem;
      }

      h2 {
        text-align: center;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        text-transform: uppercase;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      border-right: 1px solid #000;
      p {
        font-size: 16px;
        line-height: 20px;
        font-weight: normal;
      }

      .date-tools {
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        // align-items: flex-end;
        ul {
          width: 80%;
          display: flex;
          flex-wrap: wrap;
          list-style-type: none;
          margin-bottom: 9px;

          li {
            font-size: 12px;
            font-weight: 500;
            background-color: rgb(230, 230, 230);
            padding: 6px 8px;
            border-radius: 5px;
            margin: 0 5px 5px 0;
          }
        }
        h6 {
          text-align: center;
          font-size: 14px;
          font-weight: 500;
          color: dimgray;
        }
      }
    }

    &__source {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0 0 0 1rem;

      a {
        font-size: 18px;
        color: #000;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: wheat;
        padding: 10px 12px;
        border-radius: 4px;
        transition: all 0.5s ease-in-out;

        &:hover {
          transform: scale(105%);
        }
      }
    }
  }
}

@media (max-width: 980px) {
  .card {
    width: 90%;
    margin: 0 auto;
    padding: 0.2rem;
    margin-bottom: 1rem;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 0 8px 5px rgba($color: #000000, $alpha: 0.1);
    transition: all 0.5s ease-in;
    // cursor: pointer;

    // &:hover {
    //   transform: scale(101%);
    // }

    &__inner {
      display: flex;
      padding: 0.5rem;
      margin: 0.5rem;
    }

    &__about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 0.5rem;
      border-right: 1px solid #000;

      img {
        width: 250px;
        margin-bottom: 1rem;
      }

      h2 {
        text-align: center;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
        text-transform: uppercase;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 0.7rem;
      border-right: 1px solid #000;
      p {
        font-size: 16px;
        line-height: 20px;
        font-weight: normal;
        margin-bottom: 0.5rem;
      }

      .date-tools {
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        // align-items: flex-end;
        ul {
          width: 80%;
          display: flex;
          flex-wrap: wrap;
          list-style-type: none;
          margin-bottom: 9px;

          li {
            font-size: 10px;
            font-weight: 500;
            background-color: rgb(230, 230, 230);
            padding: 5px 7px;
            border-radius: 5px;
            margin: 0 5px 5px 0;
          }
        }
        h6 {
          text-align: center;
          font-size: 12px;
          font-weight: 400;
          color: dimgray;
        }
      }
    }

    &__source {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0 0 0 0.5rem;

      a {
        font-size: 16px;
        color: #000;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: wheat;
        padding: 8px 10px;
        border-radius: 4px;
        transition: all 0.5s ease-in-out;

        &:hover {
          transform: scale(105%);
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .card {
    width: 100%;
    margin: 0 auto;
    padding: 0.2rem;
    margin-bottom: 1rem;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 0 8px 5px rgba($color: #000000, $alpha: 0.1);
    transition: all 0.5s ease-in;

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;
      margin: 0.5rem;
    }

    &__about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 0.5rem;
      border-right: none;

      img {
        width: 90%;
        margin-bottom: 1.5rem;
      }

      h2 {
        text-align: center;
        font-family: "Roboto";
        font-size: 22px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
      }
    }

    &__description {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border-right: none;
      p {
        font-size: 18px;
        line-height: 20px;
        font-weight: normal;
        margin-bottom: 1.5rem;
      }

      .date-tools {
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        // align-items: flex-end;
        ul {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          list-style-type: none;
          margin-bottom: 9px;

          li {
            font-size: 14px;
            font-weight: 500;
            background-color: rgb(230, 230, 230);
            padding: 6px 8px;
            border-radius: 5px;
            margin: 0 5px 5px 0;
          }
        }
        h6 {
          text-align: left;
          font-size: 16px;
          line-height: 18px;
          font-weight: 400;
          color: dimgray;
        }
      }
    }

    &__source {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 1.5rem;

      a {
        font-size: 100%;
        color: #000;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: wheat;
        padding: 4% 15%;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;

        &:hover {
          transform: scale(105%);
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .card {
    width: 100%;
    margin: 0 auto;
    padding: 0.2rem;
    margin-bottom: 1rem;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 0 8px 5px rgba($color: #000000, $alpha: 0.1);
    transition: all 0.5s ease-in;

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;
      margin: 0;
    }

    &__about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 0.5rem;
      border-right: none;

      img {
        width: 100%;
        margin-bottom: 0.5rem;
      }

      h2 {
        text-align: center;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: bold;
        line-height: 19px;
        text-transform: uppercase;
      }
    }

    &__description {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem;
      border-right: none;
      p {
        font-size: 14px;
        line-height: 18px;
        font-weight: normal;
        margin-bottom: 1rem;
      }

      .date-tools {
        width: 100%;
        display: flex;
        flex-direction: column;

        ul {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          list-style-type: none;
          margin-bottom: 9px;

          li {
            font-size: 12px;
            font-weight: 400;
            background-color: rgb(230, 230, 230);
            padding: 4px 6px;
            border-radius: 5px;
            margin: 0 5px 5px 0;
          }
        }
        h6 {
          text-align: left;
          font-size: 14px;
          line-height: 14px;
          font-weight: 400;
          color: dimgray;
        }
      }
    }

    &__source {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0.4rem;

      a {
        font-size: 100%;
        color: #000;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: wheat;
        padding: 2% 13%;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;

        &:hover {
          transform: scale(105%);
        }
      }
    }
  }
}
