@media (max-width: 768px) {
  .works__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
  .main-content {
    display: flex;
    margin-bottom: 3rem;
    .avatar {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-right: 1rem;
    }
    .bio {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 400px;
      height: 200px;

      &__name {
        //todo => поменять шрифт на более презентабельный
        text-transform: uppercase;
        font-size: 26px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 570px) {
  header {
    .nav {
      padding: 1.5rem 0;
      margin-bottom: 2rem;

      &__inner {
        display: flex;
        justify-content: space-between;
      }

      &__item {
        margin-right: 0rem;
      }

      &__link {
        font-size: 14px;
        font-weight: 300;
        color: #000;
        text-decoration: none;
      }
      &__link-logo {
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        // margin-right: 2.5rem;
        color: #000;
        text-decoration: none;
      }
    }

    .main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem;
      .avatar {
        width: 256px;
        height: 256px;
        border-radius: 50%;
        margin: 0 0 2rem 0;
      }
      .bio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 400px;
        height: 200px;

        &__inner-list {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          padding: 8px;
        }

        &__item {
          background-color: #e5e7eb;
          border-radius: 3px;
          font-size: 13px;
          list-style-type: none;
          margin: 3px;
          padding: 0.3rem;
        }

        &__name {
          //todo => поменять шрифт на более презентабельный
          text-transform: uppercase;
          font-size: 26px;
          font-weight: bold;
        }
      }
    }

    .footer {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &__link {
        color: #000;
        text-decoration: none;
        font-weight: 100;
      }
    }
  }
}

@media (max-width: 400px) {
  .works {
    &__card {
      display: flex;
      flex-direction: column;
      margin: 30px 15px;
      width: 320px;
      height: 490px;
      border-radius: 4px;
      box-shadow: 0 0 5px 3px rgba($color: #000000, $alpha: 0.1);
    }

    &__title {
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
    }

    &__date {
      font-size: 12px;
      font-weight: 300;
      opacity: 0.9;
      margin-bottom: 6px;

      i {
        color: #000;
        opacity: 0.9;
      }
    }

    &__desc {
      font-size: 16px;
      font-weight: 300;
      line-height: 18px;
      opacity: 0.8;
    }

    &__inner-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &__item {
      background-color: #e5e7eb;
      border-radius: 3px;
      font-size: 11px;
      list-style-type: none;
      margin-right: 4px;
      padding: 0.3rem;
    }

    &__links {
      display: flex;
      width: 90%;
      margin: 0 auto;
      flex-direction: column;
    }

    &__link {
      font-size: 14px;
      color: #000;
      text-decoration: none;
      text-align: center;
      padding: 8px 0;
      margin-bottom: 8px;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      border-radius: 4px;
      transition: all 0.5s;
    }
  }
}

@media (max-width: 340px) {
  header {
    .main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      .avatar {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 0 1rem 0;
      }
      .bio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 200px;

        &__inner-list {
          display: flex;
          flex-wrap: wrap;
        }

        &__item {
          background-color: #e5e7eb;
          border-radius: 3px;
          font-size: 12px;
          list-style-type: none;
          margin: 4px;
          padding: 0.3rem;
        }

        &__name {
          //todo => поменять шрифт на более презентабельный
          text-transform: uppercase;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

    .footer {
      display: flex;
      flex-wrap: wrap;
      padding: 1rem;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-weight: bold;

      &__link {
        color: #000;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}
