.header {
  width: 100%;
  height: 100vh;
  background: blanchedalmond;

  .header__inner {
    background: whitesmoke;
    display: flex;
    width: 70%;
    height: 60%;
    margin: 0 auto;
    padding: 20px;
    overflow-y: hidden;
    border-radius: 5px;
    box-shadow: 0 0 8px 5px rgba($color: #000000, $alpha: 0.1);
    transform: translateY(20%);
    transition: all 1s ease-in-out;

    .header__title-links {
      width: 40%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      img {
        width: 270px;
        border-radius: 50%;
      }

      .header__personal-data {
        display: flex;
        width: 60%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h2 {
          text-transform: uppercase;
          //   text-align: center;
          font-family: "Roboto";
          font-weight: 500;
          font-size: 20px;
          margin-bottom: 1rem;
        }

        h5 {
          line-height: 20px;
          font-family: "Roboto";
          font-weight: 300;
          font-size: 18px;
          margin-bottom: 0.5rem;
        }
      }

      .header__skills {
        display: flex;
        list-style: none;

        li {
          font-size: 12px;
          font-weight: 500;
          background-color: rgb(230, 230, 230);
          padding: 6px 8px;
          border-radius: 5px;
          margin-right: 5px;
        }
      }

      .header__links {
        display: flex;
        list-style: none;

        li {
          font-size: 25px;
          margin-right: 1rem;
          a {
            color: #000;
          }
        }
      }
    }

    .header__aboutme {
      border-left: 0.1px solid #000;
      width: 60%;
      display: flex;
      flex-direction: column;
      //   justify-content: center;
      padding: 1.5rem;

      p {
        font-size: 20px;
        line-height: 22px;
        color: #000;
      }
    }
  }
}

@media (max-width: 1360px) {
  .header {
    .header__inner {
      .header__title-links {
        .header__personal-data {
          display: flex;
          width: 60%;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          h2 {
            text-transform: uppercase;
            //   text-align: center;
            font-family: "Roboto";
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 1rem;
          }

          h5 {
            line-height: 20px;
            font-family: "Roboto";
            font-weight: 400;
            font-size: 15px;
            margin-bottom: 0.5rem;
          }
        }

        .header__skills {
          li {
            font-size: 12px;
            font-weight: 500;
            background-color: rgb(230, 230, 230);
            padding: 4px 6px;
            border-radius: 5px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 1136px) {
  .header {
    .header__inner {
      .header__title-links {
        img {
          width: 220px;
          border-radius: 50%;
        }

        .header__personal-data {
          display: flex;
          width: 60%;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          h2 {
            text-transform: uppercase;
            //   text-align: center;
            font-family: "Roboto";
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 1rem;
          }

          h5 {
            line-height: 20px;
            font-family: "Roboto";
            font-weight: 400;
            font-size: 15px;
            margin-bottom: 0.5rem;
          }
        }

        .header__skills {
          display: flex;
          //   flex-direction: column;
          li {
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 12px;
            font-weight: 300;
            background-color: rgb(230, 230, 230);
            padding: 2px 4px;
            border-radius: 5px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .header {
    .header__inner {
      display: flex;
      flex-direction: column;
      width: 70%;
      height: 60%;
      margin: 0 auto;
      padding: 20px;
      overflow-y: hidden;
      border-radius: 5px;
      box-shadow: 0 0 8px 5px rgba($color: #000000, $alpha: 0.1);
      transform: translateY(20%);

      .header__title-links {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        img {
          width: 25%;
          border-radius: 50%;
        }

        .header__personal-data {
          display: flex;
          width: 45%;
          height: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;

          h2 {
            text-transform: uppercase;
            //   text-align: center;
            font-family: "Roboto";
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 10px;
          }

          h5 {
            line-height: 20px;
            font-family: "Roboto";
            font-weight: 300;
            font-size: 16px;
            margin-bottom: 0.2rem;
          }
        }

        .header__skills {
          display: flex;
          flex-direction: column;
          list-style: none;

          li {
            font-size: 13px;
            font-weight: 500;
            background-color: rgb(230, 230, 230);
            padding: 4px 6px;
            border-radius: 5px;
            margin: 5px;
          }
        }

        .header__links {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          list-style: none;

          li {
            font-size: 25px;
            margin-bottom: 1rem;
            a {
              color: #000;
            }
          }
        }
      }

      .header__aboutme {
        border-left: none;
        border-top: 1px solid #000;
        width: 100%;
        display: flex;
        flex-direction: row;

        padding: 1.5rem;

        p {
          font-size: 20px;
          line-height: 22px;
          color: #000;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .header {
    .header__inner {
      display: flex;
      flex-direction: column;
      width: 70%;
      height: 80%;
      margin: 0 auto;
      padding: 20px;
      overflow-y: hidden;
      border-radius: 5px;
      box-shadow: 0 0 8px 5px rgba($color: #000000, $alpha: 0.1);
      transform: translateY(5%);

      .header__title-links {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        img {
          width: 200px;
          border-radius: 50%;
          margin-bottom: 1rem;
        }

        .header__personal-data {
          display: flex;
          width: 80%;
          height: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;

          h2 {
            text-transform: uppercase;
            text-align: center;
            font-family: "Roboto";
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 10px;
          }

          h5 {
            text-align: center;
            line-height: 20px;
            font-family: "Roboto";
            font-weight: 300;
            font-size: 16px;
            margin-bottom: 0.2rem;
          }
        }

        .header__skills {
          display: flex;
          padding: 1rem;
          flex-direction: row;
          list-style: none;

          li {
            font-size: 14px;
            font-weight: 500;
            background-color: rgb(230, 230, 230);
            padding: 4px 6px;
            border-radius: 5px;
            margin: 5px;
          }
        }

        .header__links {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          list-style: none;

          li {
            font-size: 25px;
            margin-bottom: 0.5rem;
            a {
              color: #000;
            }
          }
        }
      }

      .header__aboutme {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-left: none;
        border-top: none;

        padding: 0.8rem;

        p {
          text-align: center;
          font-size: 16px;
          line-height: 22px;
          color: #000;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .header {
    .header__inner {
      .header__title-links {
        .header__skills {
          display: flex;
          padding: 0.4rem;
          flex-direction: row;
          list-style: none;

          li {
            font-size: 10px;
            font-weight: 500;
            background-color: rgb(230, 230, 230);
            padding: 3px 5px;
            border-radius: 5px;
            margin: 2px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .header {
    .header__inner {
      .header__title-links {
        .header__skills {
          display: flex;
          width: 190px;
          padding: 0.4rem;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          list-style: none;

          li {
            font-size: 10px;
            font-weight: 500;
            background-color: rgb(230, 230, 230);
            padding: 3px 5px;
            border-radius: 5px;
            margin: 2px;
          }
        }
      }
    }
  }
}
