.nav {
  transform: translateY(30%);
  margin-bottom: 1rem;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1100px;
    margin: 0 auto;
    box-shadow: 0 0 8px 5px rgba($color: #000000, $alpha: 0.1);
    padding: 1rem 0;
    border-radius: 10px;
  }

  &__bar {
    display: none;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: normal;
    line-height: 22px;
    // text-transform: uppercase;

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        color: rgba(0, 0, 0, 0.452);
      }
    }
  }
}

@media (max-width: 1130px) {
  .nav {
    transform: translateY(15%);
    margin: 0 1rem;
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      margin: 0 auto;
      box-shadow: 0 0 8px 5px rgba($color: #000000, $alpha: 0.1);
      padding: 1rem 0;
      border-radius: 10px;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Roboto";
      font-size: 18px;
      font-weight: normal;
      line-height: 20px;

      a {
        color: #000;
        text-decoration: none;

        &:hover {
          color: rgba(0, 0, 0, 0.452);
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .nav {
    transform: translateY(0%);
    margin: 0;
    &__inner {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      margin: 0 auto;
      box-shadow: 0 0 8px 5px rgba($color: #000000, $alpha: 0.1);
      padding: 1rem 0;
      border-radius: 10px;
    }
    &__bar {
      display: block;
      margin-right: 2rem;
      a {
        color: #000;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        margin-left: 5px;
      }

      button {
        border: none;
        background-color: inherit;
        cursor: pointer;

        i {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

    &__item {
      display: none;
      align-items: center;
      justify-content: center;
      font-family: "Roboto";
      font-size: 18px;
      font-weight: normal;
      line-height: 20px;

      a {
        color: #000;
        text-decoration: none;

        &:hover {
          color: rgba(0, 0, 0, 0.452);
        }
      }
    }
  }
}
